
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bienvido</h2>
@using (Html.BeginForm("Index", "Index", FormMethod.Post))
{
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th></th>
                <Label for="Datos">Ingrese el monto a retirar</Label>
                <br />
                <input type="number" name="Monto" />
                <br />
       
                <input type="submit" value="Enviar" />
        </thead>
        <tbody>
        </tbody>
    </table>
}

